.btn
	display flex
	justify-content center
	align-items center
	border-radius 4px
	transition all .15s ease-in-out
	color $light-color
	text-align center
	font 1.357em $Med
	text-transform uppercase
	padding 30px 100px
	&__ic
		display block
		width 22px
		height 22px
		flex none
		margin-right 15px
		svg
			display block
			width 100%
			height 100%
			fill $light-color
			transition fill .15s ease-in-out
	&__accent
		background-color $accent-color
		box-shadow 0 0 6px rgba($dark-color, .1)
	
	&__wide
		width 100%	
		
	&__equal
		width 100%
		height 100%
		padding 0
		
	&__primary
		position relative
		background-color $primary-color
		z-index 2
		box-shadow 0 5px 14px rgba($primary-color, .14)
		&:before
			pseudo()
			full()
			background $primary-colo
			background -moz-linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
			background -webkit-linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
			background linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
		span
			position relative
			z-index 1
			
	&__radius
		border-radius 0 4px 4px 0
		
	
	&__dark
		background $dark-color
		
	&__close
		width 20px
		height 20px
		background url('../img/icons/svg/close-ic.svg') center no-repeat
		
	
	&__up
		display none
		border-radius 50%
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background $accent-color
		z-index 10
		text-align center
		transition all .23s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($dark-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $dark-color
			border-right 1px solid $dark-color
			transition all .23s ease-in-out
		&:hover
			background  $dark-color
			transform scale(1.1)
			box-shadow 0px 0px 13px 0px rgba($accent-color, 0.21)
			&:after
				border-top 1px solid $accent-color
				border-right 1px solid $accent-color
		

.hamburger
	display inline-block
	width 30px
	height 30px
	cursor pointer
	span
		display block
		width 100%
		height 4px
		background $accent-color
		margin-bottom 3px
		&:last-child
			margin-bottom 0
		