
.input
	display inline-block
	width 100%
	padding 10px 15px
	text-align left
	background-color $light-color
	border 2px solid transparent
	font 1em $Reg
	color $text-color
	&:hover,
	&:focus
		border-color $accent-color
	&::-webkit-input-placeholder

		font 1em $Reg
		color $text-color
	&::-moz-placeholder

		font 1em $Reg
		color $text-color
	&:-moz-placeholder

		font 1em $Reg
		color $text-color
	&:-ms-input-placeholder

		font 1em $Reg
		color $text-color
		
	&__wrapper
		margin-bottom 15px
		position relative
		
	&.is-error
		border-color red
	



.select
	display flex
	justify-content flex-start
	border 1px solid #DBF5FF
	border-radius 4px
	transition border-color .15s ease-in-out
	width 100%
	height 100%
	box-sizing border-box
	height 46px
	overflow hidden
	&__wrapper
		position relative
		width 100%
		
	&__ic
		width 44px
		height 44px
		flex-col-center()
		background-color $color-bg
		flex none
		i
			display block
			width 19px
			height 19px
			background-position center center
			background-repeat no-repeat
			background-size 19px 19px
			
	&__text
		flex 1
		background-color $light-color
		display flex
		text-align left
		align-items center
		padding 10px 40px 10px 15px
		font 16px $Comf
		color $dark-color
		position relative
		
		&:after
			pseudo()
			position absolute
			vertical-center()
			right 15px
			width 8px
			height 15px
			background url('../img/icons/svg/select-arrows.svg') center center no-repeat
			background-size 8px 15px
			pointer-events none
			z-index 1
		
	&__dropdown
		position absolute
		top 100%
		left 0
		z-index 3
		width 100%
		padding-top 4px
		margin-top 10px
		opacity 0
		visibility hidden
		pointer-events none
		transition all .3s ease-out
	&__options
		border-radius 4px
		background-color $light-color
		box-shadow 0 3px 6px rgba($dark-color, .1)	
	&__option
		display block
		text-align left
		transition background-color .15s ease-in-out
		background-position center left 14px
		background-repeat no-repeat
		background-size 19px 19px
		padding 13px 15px 13px 59px
		font 16px $Comf
		cursor pointer
		color $dark-color
		&:hover
			background-color $color-bg
	
	// &__wrapper
	// 	&:hover
	// 		.select
	// 			border-color $accent-color
	// 			&__dropdown
	// 				opacity 1
	// 				visibility visible
	// 				pointer-events auto
	// 				margin-top 0	
	&__wrapper				
		&.is-active
			.select
				border-color $accent-color
				&__dropdown
					opacity 1
					visibility visible
					pointer-events auto
					margin-top 0		

	&__lg
		height 83px
		.select
			&__ic
				width 83px
				height 83px
				i
					width 22px
					height 22px
					background-size 22px 22px
			&__text
				height 83px
.no-border-radius
	border-radius 0