.nav
	flex 1
	margin 0 25px
	&__list
		text-align center
	&__item
		display inline-block
		margin-right 30px
		&:last-child
			margin-right 0
	&__link
		text-transform uppercase
		color $light-color
		font 1.2142857em $ComfReg
		border-bottom 1px solid transparent
		&:hover
			border-color $light-color
			

	&__footer
		font 13px $ComfReg
		color rgba(255,255,255, .69)
		a
			color inherit
			&:hover
				text-decoration underline
		li
			display inline-block
			margin-right 10px
			&:last-child
				margin-right 0
				