<footer class="footer light-color">
	<div class="footer__top">
		<div class="container">
			<div class="row row__gutters footer__row">
				<div class="footer__col">
					<div class="footer__logo row row__center">
						<a href="/" class="logo"><img src="img/logo.svg" alt="" class="logo__img"></a>

						<div class="footer__socials">
							{% include 'socials.html' %}
						</div>
					</div>

					<p class="footer__slogan">Незабываемые Яхт туры по Красному морю. Погрузиcь в впечатления с головой!</p>
				</div>
				<div class="footer__col row row__center-horisontal">
					<div class="footer__block">
						<h3 class="footer__title">Наши услуги</h3>
						<ul class="footer__list">
							<li><a href="#">Дайвинг Сафари</a></li>
							<li><a href="#">Кейтcерфинг</a></li>
							<li><a href="#">Аренда Яхты</a></li>
							<li><a href="#">Мероприятия на Яхте</a></li>
							<li><a href="#">Курсы обучения</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__col row row__center-horisontal">
					<div class="footer__block">
						<h3 class="footer__title">Контакты</h3>

						<div class="footer__contacts">
							<div class="footer__contacts--block">
								<p>Адрес яхты:</p>
								<div class="footer__contacts--item"> Хургада Марина, Хургада, Египет</div>
							</div>

							<div class="footer__contacts--block">
								<p>Emai:</p>
								<div class="footer__contacts--item"><a href="mailto:info@conceptumyacht.com">info@conceptumyacht.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		
		<div class="container">
			<div class="row row__center">
				<nav class="nav__footer">
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Туры</a></li>
						<li><a href="page-boat.html">Яхта</a></li>
						<li><a href="page-contacts.html">Контакты</a></li>
						<li><a href="#">Политика Конфиденциальности</a></li>
					</ul>
				</nav>

				<p class="copyright">&copy;<span class="js-year"></span> Red Sea Adventure. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>
