<nav class="nav">
	<ul class="nav__list">
		<li class="nav__item"><a href="#home" class="nav__link js-smooth-scroll-link">ГЛАВНАЯ</a></li>
		<li class="nav__item"><a href="#tours" class="nav__link js-smooth-scroll-link">ТУРЫ</a></li>
		<li class="nav__item"><a href="page-boat.html" class="nav__link">ЯХТА</a></li>
		<li class="nav__item"><a href="#gallery" class="nav__link js-smooth-scroll-link">ГАЛЕРЕЯ</a></li>
		<li class="nav__item"><a href="page-contacts.html" class="nav__link">КОНТАКТЫ</a></li>
	</ul>
</nav>
