// ========== ========== G L O B A L   S T Y L E S ========== ==========
html
	text-size-adjust none
	box-sizing border-box
	
*
	padding 0
	margin 0
	box-sizing inherit
	&:after,
	&:before
		box-sizing inherit


body
	font 14px $Reg
	line-height 1.57
	overflow-x hidden
	min-width 320px
	height 100%
	opacity 1
	position relative
	color $text-color
	background-color $body-bg

h1,h2,h3,h4,h5,h6,ul,li
	margin 0
	padding 0

input,
textarea
	outline none
	background transparent
	border none
	transition all .15s ease-in-out
	&:focus
		outline none
		
textarea
	resize vertical
	width 100%
	
select
	appearance none
	-webkit-appearance none
	-moz-appearance none
	transition all .15s ease-in-out
	cursor pointer
	&:focus
		outline none

a
	text-decoration none
	outline none
	transition all .15s ease-in-out
	&:hover
		text-decoration none
		
button
	box-shadow none
	border none
	outline none
	cursor pointer
	transition all .15s ease-in-out
	background transparent
	&:focus
		outline none

img
	width 100%
	height auto
	

// ========== ========== ========== ========== ========== ==========

// ========== ========== M A I N   S T Y L E S ========== ==========

.disable-hover,
.disable-hover * 
	pointer-events none !important

.clearfix:before,
.clearfix:after
	content " "
	display table

.clearfix:after
	clear both

.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-top
	&-both
		padding $gutter-top
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%
	
.bg
	bg(50%, 50%)
	&__overlay
		position relative
		&:after
			pseudo()
			full()
			position absolute
			background rgb(0,74,152)
			background -moz-linear-gradient(180deg, rgba(0,74,152,1) 0%, rgba(0,74,152,0.64) 100%)
			background -webkit-linear-gradient(180deg, rgba(0,74,152,1) 0%, rgba(0,74,152,0.64) 100%)
			background linear-gradient(180deg, rgba(0,74,152,1) 0%, rgba(0,74,152,0.64) 100%)
		.container
			position relative
			z-index 1

.text-center
	text-align center
.text-left
	text-align left
.text-right
	text-align right
	
.light-color
	color $light-color
	
.accent-color
	color $accent-color

.dark-color
	color $dark-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	

// ========== ========== ========== ========== ========== ==========