//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================



// Light
webfont('MontserratItalic', 'Montserrat/Montserrat-Italic/fonts', 'Montserrat-Italic', true, normal, normal)
webfont('MontserratLight', 'Montserrat/Montserrat-Light/fonts', 'Montserrat-Light', true, normal, normal)
webfont('MontserratRegular', 'Montserrat/Montserrat-Regular/fonts', 'Montserrat-Regular', true, normal, normal)
webfont('MontserratMedium', 'Montserrat/Montserrat-Medium/fonts', 'Montserrat-Medium', true, normal, normal)
webfont('MontserratSemiBold', 'Montserrat/Montserrat-SemiBold/fonts', 'Montserrat-SemiBold', true, normal, normal)
webfont('MontserratBold', 'Montserrat/Montserrat-Bold/fonts', 'Montserrat-Bold', true, normal, normal)
webfont('ComfortaaRegular', 'Comfortaa/regular/fonts', 'Comfortaa-Regular', true, normal, normal)
webfont('ComfortaaBold', 'Comfortaa/bold/fonts', 'Comfortaa-Bold', true, normal, normal)
