// Position
position-center()
	top 50%
	left 50%
	transform translate(-50%,-50%)
	
vertical-center()
	top 50%
	transform translateY(-50%)

horisontal-center()
	left 50%
	transform translateX(-50%)
//==============================

flex-block()
	display flex
	justify-content space-between

flex-col()
	flex-direction column
	align-items flex-start
	
flex-col-center()
	display flex
	flex-direction column
	align-items center
	justify-content center
	
pseudo()
	content ''
	display inline-block
	
// Web fonts
//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

webfont(family, folder, file, hack-chrome-windows = false, weight = normal, style = normal)
	@font-face
		font-family family
		src url('../fonts/' + folder + '/' + file + '.eot')
		src url('../fonts/' + folder + '/' + file + '.eot?#iefix') format('embedded-opentype'),
				url('../fonts/' + folder + '/' + file + '.woff') format('woff'),
				url('../fonts/' + folder + '/' + file + '.ttf') format('truetype'),
				url('../fonts/' + folder + '/' + file + '.svg#'+ family) format('svg')
		font-weight weight
		font-style style
		
	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url('../fonts/' + folder + '/' + file + '.svg#'+ family) format('svg')
