//  Fonts 
$Italic = 'MontserratItalic', Arial, sans-serif
$Light = 'MontserratLight', Arial, sans-serif
$Reg = 'MontserratRegular', Arial, sans-serif
$Med = 'MontserratMedium', Arial, sans-serif
$SemiBold = 'MontserratSemiBold', Arial, sans-serif
$Bold = 'MontserratBold', Arial, sans-serif
$ComfReg = 'ComfortaaRegular', Arial, sans-serif
$ComfBold = 'ComfortaaBold', Arial, sans-serif

// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1230px
$container-gutters = 0 30px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutter-top = 130px
$gutter-bottom = 130px
$gutter-both = 130px 0
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #0EC7FB
$dark-accent-color = #004A98
$primary-color = #00D04C
$primary-color-first = #00D17B
$primary-color-second = #00D04C

$text-color = #727272

$light-color = #fff
$dark-color = #000

$color-bg = #F1FBFF
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff


$footer-bg = #004A98
$footer-bottom-bg = #003F81

$popup-overlay-bg = #000
$popup-overlay-opacity = .7

$sect-overlay-bg = #000
$sect-overlay-opacity = .8



// ========== ========== ========== ========== ==========