.sect__promo
	background rgb(25,147,220)
	background -moz-linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	background -webkit-linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	background linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	// min-height 1150px
	min-height 1310px
	position relative
	
	&:after
		pseudo()
		pointer-events none
		width 100%
		height 225px
		background url('../img/arch.svg') center no-repeat
		background-size cover
		position absolute
		left 0
		bottom 0
		z-index 1

.order__form
	&--wrapper
		position absolute
		margin 0 auto
		horisontal-center()
		width 100%
		bottom 250px
		z-index 3
		max-width 1000px
	&--input-wrapper
		width 33.33333%
		&:first-child
			.select
				border-radius 4px 0 0 4px
				&__text
					border-radius 0
					

// About

.about
	&__row
		margin-left -35px
		margin-right -35px
	&__info
		margin-bottom 90px
	&__col
		width 50%
		padding 0 35px
		
		
		.content
			margin-bottom 90px
			&:last-child
				margin-bottom 0
				
			&__with-ic
				padding-left 40px
				width 350px
				position relative
				background-repeat no-repeat
				background-position top 7px left
				background-size 19px 26px
				h2
					font-size 1.7142857em
			&__with-img
				position relative
				padding-right 160px
				
		
				
		img
			display block
			margin-bottom 35px
			box-shadow 0 0 12px rgba($dark-color, .1)
	
	&__img
		width 350px
		height 265px
		bg(50%, 50%)
		box-shadow 0 0 12px rgba($dark-color, .1)
		position absolute
		z-index 3
		right -215px
		vertical-center()
		
	&__benefits
		padding-bottom 90px

.content
	h2
		color $dark-accent-color
		font 2.142857em $ComfBold
		line-height 1.46
		margin-bottom 25px



.benefit
	display flex
	justify-content flex-start
	align-items center
	&__ic
		flex none
		display block
		width 22px
		height 22px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 22px 22px
		margin-right 10px
		
	&__count
		font 2.142857em $Reg
		text-transform uppercase
		color $dark-accent-color
		display inline-block
		margin-right 13px
		
	&__content
		display flex
		justify-content flex-start
		align-items center
		p
			text-align left
			color #333832
			line-height 1.14
	&__wrapper
		width 330px
		padding 0 15px
		

// Tours

.btn__tab
	border-radius 4px 4px 0 0
	opacity .82
	padding 19px 30px
	min-width auto
	font  1.071em $Med
	margin-right 10px
	&:last-child
		margin-right 0
		
	&:hover,
	&.is-active
		background-color $dark-accent-color
		opacity 1
		svg
			fill $primary-color
	

.tours
	&__controls
		display flex
		justify-content space-between
		

.tour
	min-height 900px
	padding 110px 0 90px
	
	&__gallery
		width 570px
		display flex
		flex-direction column
		justify-content space-between
		.slider
			margin-bottom 25px
		
	&__content
		flex 1
		padding-right 30px
		
		color #DBF5FF
		&--block
			margin-bottom 25px
			&:last-child
				margin-bottom 0
				
			.content
				font-size 1em
				h3,h4,h5,h6,h2
					color $light-color
					margin-bottom 14px
					font 1.42857em $ComfReg
					
				ul
					li
						display block
						position relative
						padding-left 20px
						line-height 1.857
						&:before
							pseudo()
							border-radius 50%
							width 4px
							height 4px
							position absolute
							top 10px
							left 0
							background-color #DBF5FF
		
	&__title
		text-transform uppercase
		color $light-color
		font 1.7142857em $ComfReg
		line-height 1.375
		margin-right 15px
		&--row
			margin-bottom 40px
	

	&__price
		display flex
		align-items center
		&--label
			color $primary-color
			font-size 1.214em
		&--value
			font 2.357em $Med
			color $light-color
			text-transform uppercase
			display inline-block
			margin-left 10px
			
	&__description
		ul
			margin-bottom 30px
		li
			display flex
			align-items center
			justify-content flex-start
			margin-bottom 13px
			color $light-color
			font-family $ComfBold
			
		&--ic
			display block
			width 22px
			height 22px
			flex none
			margin-right 17px
			
			svg
				display block
				width 100%
				height 100%
				fill $primary-color


// Education
.education
	&__row
		margin-bottom 60px
	&__block
		p
			font-family $Light
		&--img
			height 245px
			bg(50%, 50%)
			position relative
			margin-bottom 20px
		&--price
			display inline-block
			padding 9px 20px
			text-align center
			text-transform uppercase
			color $light-color
			font 1.42857em $Reg
			background $primary-color
			background -moz-linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
			background -webkit-linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
			background linear-gradient(90deg, rgba($primary-color-first,1) 0%, rgba($primary-color-second,1) 100%)
			position absolute
			right 0
			top 15px
			
		&--title
			color $dark-accent-color
			font 1.42857em $ComfBold
			margin-bottom 25px
			
		&--wrapper
			width 33.3333%
			padding 0 15px
			
// About boat
.about-boat
	&__row
		margin-bottom 130px
	&__slider
		width 570px
		
	&__content
		flex 1
		padding-left 60px
		display flex
		flex-direction column
		justify-content space-between
		padding 22px 0 22px 60px
		.content
			h2,h3
				font 1.7142857em $ComfReg
				color $dark-color
				margin-bottom 40px
				
			h4,h5,h6
				color $dark-color
				font 1.142857em $ComfReg
				margin-bottom 25px
				line-height 1.375
				
			p
				font-family $Light
			
		.btn
			margin-top 25px
			

// REst

.rest__block
	color $dark-color
	text-align left
	&--img
		height 200px
		bg(50%, 50%)
		margin-bottom 17px
	&--title
		color $dark-accent-color
		font 1.42857em $ComfBold
		margin-bottom 15px
	&--wrapper
		width 25%
		padding 15px
		
// Gallery
.sect__gallery
	.sect__title
		margin-bottom 55px

			

	
	