.sect__promo
	background rgb(25,147,220)
	background -moz-linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	background -webkit-linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	background linear-gradient(180deg, rgba(25,147,220,1) 0%, rgba(213,246,255,1) 100%)
	min-height 1050px
	position relative


.order__form--wrapper
	position absolute
	margin 0 auto
	horisontal-center()
	width 100%
	bottom 250px
	z-index 3

	